* {
    font-family: 'Nunito Sans', sans-serif;

}

.container {
    margin-bottom: 2rem;
}

.card {
    margin: 10px;
}


#b {
    position: relative;
    min-height: 100%;
}


#f {
    position: absolute;
    width: 100%;
    bottom: 0;
}