* {
    font-family: 'Nunito Sans', sans-serif;

}

.main-container {
    height: 75%;
    margin-bottom: 2rem;
}

.card {
    margin: 10px;
}


#b {
    position: relative;
    min-height: 100%;
}


#f {
    width: 100%;
    /* position: absolute;
    bottom: 0; */
    @include clearfix;
}